@model Website_Panda.Models.ForgotPassword
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="banner_inner">

    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="~/Home/Index">Home</a>
                    <i>|</i>
                </li>
                <li>Forgot password</li>
            </ul>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        @using (Html.BeginForm("ForgotPassword", "CustomerAccount"))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            <h2 class="text-center" style="font-weight:600">Forgot Password</h2>
            <p class="text-center">Please enter Your Email and Your Username registered</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="login p-5 bg-dark mx-auto mw-100">
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger",style="color:red"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style="color:red"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <p style="color:red">@Html.Raw(ViewBag.message)</p>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </div>
        </div>
            </div>
            }

            @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@
        </div>
    <div class="col-lg-4"></div>
</div>
        
