@using Website_Panda.Models;
@model _Order
@{
    ViewBag.Title = "Order Cancelled";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


    <div class="banner_inner">

        <div class="services-breadcrumb">
            <div class="inner_breadcrumb">

                <ul class="short">
                    <li>
                        <a href="~/Home/Index">Home</a>
                 
                    </li>
                
                </ul>
            </div>
        </div>

    </div>
@if (ViewBag.Message != null)
{
    <h1 class="label label-success">@ViewBag.Message</h1>
    <br />
    <br />
}

<!-- cart-main-area start -->
<div class="cart-main-area bg--white" style="padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <h2 style="text-align:center; padding-top: 1em;">Cancel order</h2>
                <hr />
                @using (Html.BeginForm("OrderCancelled", "CustomerAccount", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="ChiTietDonHang table">
                        @{IEnumerable<OrderDetail> lstChiTietDH = (IEnumerable<OrderDetail>)ViewBag.orderDetailsList;}
                        <table class="timetable_sub" id="table">
                            <tr>
                                <td colspan="5">
                                    <table style="width:100%;">
                                        <tr>
                                            <td>Mã đơn hàng: <b style="color:red;"> @Model.IDOrder @Html.Hidden("IDOrder", @Model.IDOrder)</b></td>

                                            <td>Ngày đặt: @Model.OrderDate.Value.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (@Model.Status == true)
                                                {<span style="color:orangered">Đã duyệt</span>}
                                                else
                                                {
                                                    <span>Chưa duyệt</span>
                                                }
                                            </td>
                                            <td>
                                                @if (@Model.Paid == true)
                                                {<span style="color:orangered"> Đã thanh toán</span>}
                                                else
                                                {
                                                    <span>Chưa thanh toán</span>
                                                }
                                            </td>
                                            <td>
                                                @if (@Model.Delivered == true)
                                                {<span style="color:orangered">Đã giao</span>}
                                                else
                                                {
                                                    <span>Chưa giao</span>
                                                }
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <table style="width:100%;">
                                        <tr>
                                            <td>Tên KH: <b style="color:red;"> @Model.FirstName</b> <b style="color:red;">@Model.LastName</b></td>
                                            <td>SĐT: <b style="color:red;"> @Model.Phone_Cus</b></td>
                                            <td>Email: <b style="color:red;"> @Model.Email_Cus</b></td>
                                            <td>Địa chỉ:  <b style="color:red;"> @Model.Address_cus</b></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td><b>Sản phẩm</b></td>
                                <td><b>Hình ảnh</b></td>
                                <td><b>Số lượng đặt</b></td>
                                <td><b>Đơn giá đặt</b></td>
                            </tr>

                            @foreach (var item in lstChiTietDH)
                            {
                                <tr>
                                    <td>@item.Product.ProductName</td>
                                    <td><img style="width:80px; height:80px;" src="~/Images/@item.Product.Image" /></td>
                                    <td>@item.QuantitySale</td>
                                    <td>@item.Price</td>
                                </tr>
                            }
                            @foreach (var item in lstChiTietDH)
                            {
                                <tr>
                                    <td align="right" colspan="4">Tổng số lượng: @Model.OrderDetails.Sum(n => n.QuantitySale) sản phẩm</td>
                                </tr>
                                if (item.OrderTotalPrice != null)
                                {
                                    <tr>
                                        <td align="right" colspan="4">Tổng tiền: @item.OrderTotalPrice.Value.ToString("#,##") đồng</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td align="right" colspan="4">Tổng tiền:0 đồng</td>
                                    </tr>
                                }
                            }
                        </table>
                        <br /><br />
                        <input type="submit" value="Cancel order" id="btnInDonHang" class="btn btn-success" />
                        <a class="btn btn-primary " href="@Url.Action("WaitingApproval", "CustomerAccount")">Back List</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>