@model IEnumerable<Website_Panda.Models.OrderModel.OrderViewModel>

@{
    ViewBag.Title = "Waiting Approval";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    WebGrid grid = new WebGrid(source: Model, canPage: false, canSort: false, rowsPerPage: 1);
    var session = (Website_Panda.Models.Login.UserLogin)Session[Website_Panda.Models.Login.Common.USER_SESSION];
}
<head>
    <link href="~/Content/Assets/Home/css/wishlist.css" rel="stylesheet" />
</head>
<div class="banner_inner">

    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="~/Home/Index">Home</a>
                    <i>|</i>
                </li>
                <li>Waiting Approval</li>
            </ul>
        </div>
    </div>

</div>
<div class="page-blog bg--white section-padding--lg blog-sidebar right-sidebar">
    <div class="container">
        <div class="blog-page">
            <div class="page__header">
                <h2 class="text-center">Receipt</h2>
            </div>
        </div>
    </div>
</div>
<div class="ht__bradcaump__area bg-image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 20px; text-align: center;">
                <div class="btn-group mr-2" role="group">
                    <a class="btn btn-default" href="/CustomerAccount/OrderManagement/@session.UserID" role="button">All Order</a>
                    <a class="btn btn-default active" href="/CustomerAccount/WaitingApproval/@session.UserID" role="button">Waiting for Approval</a>
                    <a class="btn btn-default" href="/CustomerAccount/Approved/@session.UserID" role="button">Shipping</a>
                    <a class="btn btn-default " href="/CustomerAccount/Success/@session.UserID" role="button">Completed</a>
                    <a class="btn btn-default " href="/CustomerAccount/Cancelled/@session.UserID" role="button">Cancelled</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Bradcaump area -->
<br />
<!-- cart-main-area start -->
<div class="cart-main-area bg--white" style="padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <form action="#">
                    <div class="timetable_sub">
                        <table id="table-cate" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="font-weight:bold;">ID Order</th>
                                    <th style="font-weight:bold;">Order status</th>
                                    <th style="font-weight:bold;">Order date</th>
                                    <th style="font-weight:bold;"></th>  
                                    <th style="font-weight:bold;"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.IDOrder)
                                    </td>
                                    <td>
                                        @if(item.Status == true)
                                        { 
                                        <span>Đã duyệt</span>
                                        }
                                        else
                                        {
                                            <span>Chưa duyệt</span>
                                        }

                                    </td>
                                    <td> @Html.DisplayFor(model => item.OrderDate)</td>
                                    <td>
                                        @Html.ActionLink("More Details", "OrderDetail", new { id = item.IDOrder }, new { @class = "btn btn-default" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Cancel", "OrderCancelled", new { id = item.IDOrder }, new { @class = "btn btn-danger" })
                                    </td>
                               </tr>
                               }


                           </tbody>
                       </table>
                                    @*@if (grid.TotalRowCount != 0)
    {
        @grid.GetHtml(
            tableStyle: "table divTable table-bordered",
            footerStyle: "gridFooter",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAltRow",
            columns: grid.Columns(
                grid.Column("IDOrder", "ID Order"),
                grid.Column("Status", "Order Status"),
                grid.Column("OrderDate", "Order Date"),
                grid.Column(format: p => @Html.ActionLink("More Details", "OrderDetail", new { id = p.IDOrder }, new { @class = "btn btn-default" })),
                grid.Column(format: p => @Html.ActionLink("Cancel", "OrderCancelled", new { id = p.IDOrder }, new { @class = "btn btn-danger" }))
            ))
    }
    else
    {
        <span class="label label-info">Empty</span>
    }*@
</div>
                </form>
                
            </div>
        </div>
    </div>
</div>

