@model IEnumerable<Website_Panda.Models.Customer>

@{
    ViewBag.Title = "Customer Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <h2 style="text-align:center">
                CUSTOMERS
            </h2>

            <div class="table-responsive">
                <table id="myTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email_Cus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address_Cus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone_Cus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Score)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDay)
                            </th>
                            <th></th>
                        </tr>
                    </thead>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email_Cus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address_Cus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone_Cus)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Score)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDay)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "DetailCus", new { id = item.IdCus }) |
                                @Html.ActionLink("Delete", "DeleteCus", new { id = item.IdCus })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script>
    $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true,
                retrieve: true,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]]
            });

        });</script>
}

